@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    padding: 0;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    height: 420px;
    background-color: #1f2937;
    padding: 0 200px 0 200px;
}

.header-links {
    gap: 10px;
}

.logo   {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    margin-left: 15px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    gap: 20px;
}

.text, .header-links {
    color: #E5E7EB;
    font-size: 14px;
}

.landscape {
    width: 400px;
    flex: auto;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border-style: none;
    color: #E5E7EB;
}

.second {
    display: flex;
    justify-content: space-around;
}

.subtitle {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square {
    width: 150px;
    flex:auto;
    border-radius: 10px;
}
